In [1]:
import numpy as np
import pandas as pd

In [2]:
df_content = pd.read_csv(r"C:\Users\jeezychild\Desktop\data\Content.csv")
df_reactions = pd.read_csv(r"C:\Users\jeezychild\Desktop\data\Reactions.csv")
df_reactionTypes = pd.read_csv(r"C:\Users\jeezychild\Desktop\data\ReactionTypes.csv")

In [3]:
df_content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
df_reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
df_reactionTypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

### Data cleaning

In [6]:
# Dropping unnamed columns
df_content.drop(columns=['Unnamed: 0'],inplace=True)
df_reactions.drop(columns=['Unnamed: 0'],inplace=True)
df_reactionTypes.drop(columns=['Unnamed: 0'],inplace=True)

In [7]:
df_content.head()

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [8]:
df_reactions.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [9]:
df_reactionTypes.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

### Checking for null values

In [10]:
df_content.isnull().sum()

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [11]:
df_reactions.isnull().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [12]:
df_reactionTypes.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

We can see that the content and reactions dataframes have alot of null values. Let's clean them below.

In [13]:
#checking their shapes 
df_content.shape

(1000, 5)

In [14]:
df_reactions.shape

(25553, 4)

In [15]:
#dropping every row with null values 
df_content.dropna(inplace=True)
df_reactions.dropna(inplace=True)

In [16]:
df_content.isnull().sum()

Content ID    0
User ID       0
Type          0
Category      0
URL           0
dtype: int64

In [17]:
df_reactions.isnull().sum()

Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

All the null values have been removed

In [18]:
#checking shapes 
df_content.shape

(801, 5)

In [19]:
df_reactions.shape

(22534, 4)

In [20]:
df_reactionTypes.shape

(16, 3)

In [21]:
# looking for duplicates 
df_content.duplicated().sum()

0

In [22]:
df_reactions.duplicated().sum()

0

In [23]:
df_reactionTypes.duplicated().sum()

0

No duplicates where found. Let's move to merging the dataframes

In [24]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  801 non-null    object
 1   User ID     801 non-null    object
 2   Type        801 non-null    object
 3   Category    801 non-null    object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 37.5+ KB

In [25]:
df_reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: object(4)
memory usage: 880.2+ KB

In [26]:
df_reactionTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

We can see that the Datetime column in the reaction dataset has the wrong datatype. We need to fix that

In [27]:
df_reactions['Datetime'] = pd.to_datetime(df_reactions['Datetime'])
df_reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 880.2+ KB

In [28]:
#Renaming Type column in df_content to avoid confusion with Type column in df_reactions
df_content.rename(columns = {'Type': 'Content_Type'}, inplace=True)
df_content.head()

,Content ID,User ID,Content_Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

### Merging Dataframes

In [29]:
#dropping Content ID on df content due to too much duplicates 
df_reactions.drop(columns=['Content ID'],inplace=True)
df_reactions.head()

                                User ID        Type            Datetime
1  5d454588-283d-459d-915d-c48a2cb4c27f     disgust 2020-11-07 09:43:50
2  92b87fa5-f271-43e0-af66-84fac21052e6     dislike 2021-06-17 12:22:51
3  163daa38-8b77-48c9-9af6-37a6c1447ac2      scared 2021-04-18 05:13:58
4  34e8add9-0206-47fd-a501-037b994650a2     disgust 2021-01-06 19:13:01
5  9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested 2020-08-23 12:25:58

In [30]:
# Using df_reactions as base
Merged_df = df_reactions.merge(df_content, on=['User ID'], how='left')
Merged_df.head()

,User ID,Type,Datetime,Content ID,Content_Type,Category,URL
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,7913b30d-19fd-4900-8a68-ce141192b3ec,audio,cooking,https://socialbuzz.cdn.com/content/storage/791...
1,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51,4d510edc-7c08-4524-a14d-f36f3b710020,GIF,fitness,https://socialbuzz.cdn.com/content/storage/4d5...
2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51,a861f7e7-b2f5-4d86-966c-7503c8faaeca,GIF,animals,https://socialbuzz.cdn.com/content/storage/a86...
3,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58,ebdf9868-075e-4fca-a3de-ef7b2cd8f7a1,GIF,education,https://socialbuzz.cdn.com/content/storage/ebd...
4,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58,3ce1063a-2277-4285-97b0-9bd53a941cd7,GIF,travel,https://socialbuzz.cdn.com/content/storage/3ce...

In [31]:
Merged_df = Merged_df.merge(df_reactionTypes, on=['Type'])
Merged_df.head()

,User ID,Type,Datetime,Content ID,Content_Type,Category,URL,Sentiment,Score
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,7913b30d-19fd-4900-8a68-ce141192b3ec,audio,cooking,https://socialbuzz.cdn.com/content/storage/791...,negative,0
1,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,b94d8643-4dd8-4f15-a58e-0c9b6691d01a,GIF,healthy eating,https://socialbuzz.cdn.com/content/storage/b94...,negative,0
2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,NaN,NaN,NaN,NaN,negative,0
3,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,NaN,NaN,NaN,NaN,negative,0
4,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,c2640cbb-d9d4-424e-9ef5-a4c972ea2f09,photo,travel,https://socialbuzz.cdn.com/content/storage/c26...,negative,0

In [32]:
Merged_df.dropna(inplace=True)
Merged_df.head()

,User ID,Type,Datetime,Content ID,Content_Type,Category,URL,Sentiment,Score
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,7913b30d-19fd-4900-8a68-ce141192b3ec,audio,cooking,https://socialbuzz.cdn.com/content/storage/791...,negative,0
1,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,b94d8643-4dd8-4f15-a58e-0c9b6691d01a,GIF,healthy eating,https://socialbuzz.cdn.com/content/storage/b94...,negative,0
4,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,c2640cbb-d9d4-424e-9ef5-a4c972ea2f09,photo,travel,https://socialbuzz.cdn.com/content/storage/c26...,negative,0
5,4c0558bc-b0d9-44b0-8b70-5fc6acb6c362,disgust,2021-01-14 07:21:32,7c2e209e-acea-4246-a32d-636e2f2cc2c1,video,dogs,https://socialbuzz.cdn.com/content/storage/7c2...,negative,0
6,4c0558bc-b0d9-44b0-8b70-5fc6acb6c362,disgust,2021-01-14 07:21:32,cebae43b-4f77-4689-86e0-66fb107d5eef,GIF,culture,https://socialbuzz.cdn.com/content/storage/ceb...,negative,0

In [38]:
Merged_df.duplicated().sum()

0

In [39]:
#Top 5 performing categories 
a=Merged_df.groupby('Category')['Score'].count().sort_values(ascending=False).reset_index().head(5)
a

  Category  Score
0   travel   2707
1  science   2518
2  animals   2458
3  culture   2427
4  fitness   2403

In [42]:
# Saving dataset as a csv
Merged_df.to_csv('Clean_df.csv', index = False)

In [41]:
Merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36080 entries, 0 to 40238
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       36080 non-null  object
 1   Type          36080 non-null  object
 2   Datetime      36080 non-null  datetime64[ns]
 3   Content ID    36080 non-null  object
 4   Content_Type  36080 non-null  object
 5   Category      36080 non-null  object
 6   URL           36080 non-null  object
 7   Sentiment     36080 non-null  object
 8   Score         36080 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 2.8+ MB